<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<!--        configuration（配置）-->
<!--        properties（属性）-->
<!--        settings（设置）-->
<!--        typeAliases（类型别名）-->
<!--        typeHandlers（类型处理器）-->
<!--        objectFactory（对象工厂）-->
<!--        plugins（插件）-->
<!--        environments（环境配置）-->
<!--        environment（环境变量）-->
<!--        transactionManager（事务管理器）-->
<!--        dataSource（数据源）-->
<!--        databaseIdProvider（数据库厂商标识）-->
<!--        mappers（映射器）-->

<configuration>



    <!-- 配置文件信息 -->
<!--    可以直接引入外部文件-->
<!--    可以在其中增加一些属性配置-->
<!--    如果两个文件有同一个字段，优先使用外部配置文件的！-->
    <properties resource="properties/db.properties"/>

<!--    <settings>-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--    </settings>-->

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>



    <!-- 类型别名配置 -->
    <typeAliases>
        <typeAlias type="com.kuang.pojo.User" alias="User"/>
    </typeAliases>



    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="8888.216"/>-->
                <!-- 从配置文件中加载属性 -->
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.kuang.dao"></package>
    </mappers>



</configuration>
